* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-container {
  height: 200vh;
  width: 75vw;
  border: 3px solid black;
  margin: 40px auto;
  position: relative;
}
.inner-container {
  height: 50vh;
  width: 40vw;
  border: 3px solid red;
  margin: 200px auto; 
}
.box {
  height: 150px;
  width: 150px;
  color: blue;
  padding: 1rem;
  border: 3px solid black;
}
.absolute{
  position: absolute;
  background-color: aquamarine;
  top: 20px;
  left: 50px;
}
.relative{
  position: relative;
  background-color: aqua;
  top: 20px;
  left: 300px;
}
.fixed{
  position: fixed;
  background-color: rgb(222, 220, 233);
  top: 20px;
  left: 50px;
}
.sticky{
  position: sticky;
  background-color: rgb(231, 186, 207);
 
}